{% extends "index.html" %}

{%- block title %}
all tags | {{ config.title }}
{% endblock title -%}

{% block extra_head %}
<meta property="og:title" content= "all tags | {{config.title}}"/>
<meta property="og:type" content="article" />
<meta property="og:url" content="0xdef12e.github.io/blog/tags" />
{% endblock extra_head %}

{% block content %}
    <div class="post">
        <h1 class="post-title">all tags</h1>

        <ul>
            {% for term in terms %}
            <li class="tag-list">
                <a href="{{ term.permalink | safe }}">
                    {{ term.name }} ({{ term.pages | length }} post{{ term.pages | length | pluralize }})
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
