{% include "partials/tags.html" %}
{% include "partials/actions.html" %}
{% if "\u003ch1" not in page.content %}
  <h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}
{% if not page.is_homepage %}
  <div class="article-meta">
    <div class="article-share-mobile">
      {% include "partials/share.html" %}
    </div>
    {% if page.meta.published %}
      <span class="article-published md-source-file__fact">Published: {{ page.meta.published.strftime('%B') }} {{ page.meta.published.day }}, {{ page.meta.published.year }}</span>
    {% endif %}
    {% include "partials/source-file.html" %}
  </div>
{% else %}
  <div class="article-meta article-meta--home">
    {% include "partials/source-file.html" %}
  </div>
{% endif %}
{{ page.content }}
{% include "partials/feedback.html" %}
{% include "partials/comments.html" %}
